<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>ByteXByte <img class="img-icon" src="assets/img/icon.png" /></h2>
    </div>
    <form (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm">
      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input formControlName="email" matInput required />
        </mat-form-field>
        <div *ngFor="let error of errorMessages.email">
            <ng-container
              *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
            >
              <mat-error style="font-size: 10px" class="alert aler-danger">*{{ error.message }}</mat-error>
            </ng-container>
          </div>
      </div>
      <div>
        <span class="link">¿Olvidaste la contraseña?</span>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" matInput required [type]="showPassword ? 'text' : 'password'"  />
          <button mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.arial-label]="'Hide Password'" [attr.arial-pressed]="showPassword" >
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="
                password.hasError(error.type) && (password.dirty || password.touched)
              "
            >
              <mat-error style="font-size: 10px" class="alert aler-danger"
                >*{{ error.message }}</mat-error>
            </ng-container>
          </div>
      </div>

      <button [disabled]="loginForm.invalid" type="submit" mat-flat-button color="primary" >Iniciar sesion</button>
    </form>
  </mat-card-content>
</mat-card>
